{% set service = services.nextcloud %}
{% if service is defined and service.enable %}
services:
  {{ service.host }}:
    container_name: {{ service.host }}
    image: {{ service.image }}:{{ service.tag }}
    restart: always
    user: root

    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ service.host }}.{{ domain }}
{% if service.postgres is defined and service.postgres.enable %}
      - POSTGRES_HOST={{ service.postgres.url }}:{{ service.postgres.port }}
      - POSTGRES_USER={{ service.postgres.user }}
      - POSTGRES_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
      - POSTGRES_DB={{ service.host }}
{% endif %}

    volumes:
      - type: bind
        source: {{ base_mount_dir }}/{{ service.host }}/data
        target: /var/www/html/data
      - type: bind
        source: {{ base_mount_dir }}/{{ service.host }}/apps
        target: /var/www/html/apps
      - type: bind
        source: {{ base_mount_dir }}/{{ service.host }}/custom-apps
        target: /var/www/html/custom_apps
      - type: bind
        source: {{ base_mount_dir }}/{{ service.host }}/config
        target: /var/www/html/config
      - type: bind
        source: {{ base_mount_dir }}/{{ service.host }}/application
        target: /var/www/html
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true

{% if service.postgres is defined and service.postgres.enable %}
    depends_on:
      {{ service.postgres.url }}:
        condition: service_healthy
{% endif %}

{% if service.port is defined and service.port is not false %}
    ports:
      - "{{ service.port }}:80"
{% endif %}
{% endif %}
